@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

*{
  box-sizing: border-box;
}
:root{
  --family: 'Roboto', sans-serif;
  --fw-light: 100;
  --fw-normal: 300;
  --fw-bold: 500;
  --radius: 0.5rem; 
  --main-color: #fc0;
  --main-opacity: rgba(255, 204, 0, 0.3);
  --raduis: 10px;
}

body{
  margin: 0;
}